* {
    box-sizing: border-box;
}

body, html {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    font-family: 'VT323', monospace;
    /* font-family: 'Noto Sans', sans-serif; */
    font-size: 1.5em;

}

.mainPage {
    background: rgb(2,0,36);
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,138,255,1) 100%);

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.contentHeading {
    grid-column: 2 / 3;
    display: grid;
    justify-items: center;
}

.contentHeading h1 {
    color: white;
}

.playButton button {
    /* width: 100px; */
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.playButton button:hover {
    transform: scale(1.05);
}

.contentPage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr 1fr;
    height: 100vh;
    justify-items: center;

    /* background-color: #090979; */

    background: rgb(2,0,36);
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,138,255,1) 100%);
    color: white;
}

.pageOne {
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    height: 100vh;

    /* background-color: #090979; */
    background: rgb(2,0,36);
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,138,255,1) 100%);

}

.pageTwo, .pageThree, .pageFour, .pageFive {
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr 1fr;
    grid-template-rows: .56fr 7fr 1fr;
    height: 180vh;

    /* background-color: #090979; */
    background: rgb(2,0,36);
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(0,138,255,1) 100%);

}

.pageTwo {
    grid-template-rows: .3fr 7fr .25fr;
    height: 300vh;
}

.pageThree {
    grid-template-rows: .6fr 7fr .5fr;
    height: 160vh;
}

.pageFour {
    grid-template-rows: .5fr 7fr .5fr;
    height: 200vh;
}

.pageFive {
    grid-template-rows: 0.9fr 7fr .5fr;
    height: 120vh;
}

.pageOneContentBox, .pageThreeContentBox,
.pageFourContentBox, .pageFiveContentBox {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: white;
    opacity: 80%;
    display: grid;
    justify-items: center;
}

.pageThreeContentBox p:nth-child(3),
.pageFourContentBox p:nth-child(2) {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05em;
    font-style: italic;
    font-weight: bold;
    color: gray;
}

.header {
    display: grid;
    justify-items: center;
}

.header h2 {
    margin-bottom: 0%;
    padding-top: 10%;
}

.header p {
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
}

.header a {
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: underline;
}

.contentSideBar {
    /* position: relative; */
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    padding: 0%;
    color: white;

    /* position: sticky;
    top: 0;
    height: 100vh; */
    transition: all .2s ease-in-out;
}

.contentSideBar h2:hover {
    transform: scale(1.1);
}

.contentInfo {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 5%;
    grid-template-columns: 15px auto;
}

.contentInfo::before {
    position: absolute;
    top: 0;
    /* left: 3.5%; */
    right: 25.1%;
    /* left: 37px; */
    display: block;
    content: '';
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0.14);
}

.pageTwo .contentInfo::before {
    height: 300%;
}
.pageThree .contentInfo::before {
    height: 160%;
}
.pageFour .contentInfo::before {
    height: 200%;
}
.pageFive .contentInfo::before {
    height: 120%;
}

.contentInfo h2 {
    margin: 0;
    display: grid;
    align-self: start;
    padding-left: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
}

.bi {
    font-size: 0.7em;
    display: grid;
    align-self: center;
    /* justify-items: center; */
}

.pageTwoImage, .pageFourImage {
    display: grid;
    justify-items: center;
}

.pageTwoImage img {
    width: 75%;
}

.pageFourImage img {
    width: 75%;
}

.contentPage h2:hover {
    transform: scale(1.1);
}

.contentTitle {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.animCircles {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /* color: black; */
}

.logo {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding-right: 10%;
    margin: 25%;
}

.logo2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-right: 10%;
    margin: 25%;
}

.logo img, .logo2 img {
    width: 100%;
}
